<section id="app_home">

<dxc-nav-bar></dxc-nav-bar>

<div class="home_body">
<div class="home_content">
<header>
    <h1>OnDeck is your remote</h1>
<h1>conference calling tool</h1>
</header>
<p>OnDeck is a service that allows you to create beautifull, online and encrypted vidio calls for you and your remote team.</p>
<a href=""  ><button class="Try_btn">Try for free</button></a>
<h3></h3>
</div>
<div class="home_img">
<img src="https://a.storyblok.com/f/157376/2421x2628/c827667f9b/call-conferencing_en.png" alt="" srcset="">
</div>
</div>
<footer>
    <h5>Trusted by 3+ million people at companies like</h5>
    <div class="footer_imgs">
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Black.png" alt="" srcset="">
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Black.png" alt="" srcset="">
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Black.png" alt="" srcset="">
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Black.png" alt="" srcset="">
    </div>

</footer>
</section>
